*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #0f0c29;
  color: white;
}

/* NAVBAR */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 25px;
  background: #14112a;
  position: sticky;
  top: 0;

  z-index: 1000;

}

.logo{
  font-size: 35px;
  font-weight: bold;
}

.logo span{
  color: #8b5cf6;
}

/* DESKTOP NAV */
.desktop-nav{
  display: flex;
  gap: 25;
  list-style: none;
}

.desktop-nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/* DESKTOP SEARCH */
.desktop-search{
  padding: 10px 15px;

  border: none;
  border-radius: 8px;

  width: 220px;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 25px;
  font-weight: bold;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

nav ul li a:hover{
  color: #8b5cf6;
}

.search input{
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  

  width: 220px;
}

.mobile-icons{
  display: none;
}

/* MOBILE MENU */
.mobile-menu{
  position: fixed;

  top: 80px;
  left: 0;

  width: 100%;

  max-height: 0;
  overflow: hidden;

  background: #1d1836;

  transition: 0.4s ease;

  opacity: 0;

  z-index: 999;
}

.mobile-menu.active{
  max-height: 300px;

  padding: 20px;

  opacity: 1;
}

.mobile-menu ul{
  list-style: none;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.mobile-menu ul li{
  border-bottom: 1px solid rgba(255,255,255,0.1);

  padding-bottom: 10px;
}

.mobile-menu ul li a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.mobile-menu ul li a:hover{
  color: #8b5cf6;
}

/* MOBILE SEARCH */
.mobile-search{
  position: fixed;

  top: 80px;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;

  background: #1d1836;

  transition: 0.4s ease;

  opacity: 0;

  z-index: 999;
}

.mobile-search.active{
  max-height: 100px;

  padding: 20px;

  opacity: 1;
}

.mobile-search input{
  width: 100%;

  padding: 12px;

  border: none;
  border-radius: 10px;

  outline: none;
}






/* MAIN CONTENT */
.container{
  padding: 60px 40px;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #14112a;
}

/* HERO SECTION */
.hero{
  height: 70vh;
  background-image:url("vibrant.png");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  border-radius: 12px;
  
}

.hero-content{
  max-width: 600px;
  padding: 40px;
}

.hero h1{
  font-size: 48px;
  line-height: 1.2;
}

.hero p{
  margin-top: 15px;
  font-size: 18px;
  color: #ddd;
}

.cta-btn{
  margin-top: 20px;
  padding: 12px 25px;
  background: #8b5cf6;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.cta-btn:hover{
  background: #7c3aed;
}

/* FEATURED SONGS */
.featured{
  margin-top: 50px;
}

.featured h2{
  margin-bottom: 20px;
  font-size: 28px;
}

.songs-row{
  display: flex;
  gap: 20px;

  overflow: auto;
}

.song-card{
  min-width: 180px;

  background: #1b1735;

  padding: 15px;

  border-radius: 10px;

  transition: 0.3s;

  cursor: pointer;
}

.song-card:hover{
  transform: translate(-6px);

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.song-card.highlight{
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255,255,255,0.3);
  transition: all 0.3s ease;
}

.song-card img{
  width: 100%;
  height: 160px;

  object-fit: cover;

  border-radius: 8px;
}

.song-card h3{
  margin-top: 10px;
  font-size: 16px;
}

.song-card p{
  color: #aaa;
  font-size: 14px;
}

.song-img{
  position: relative;
}

.play-btn{

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background: #8b5cf6;

  width: 45px;
  height: 45px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;

  opacity: 0;

  cursor: pointer;

  transition: 0.3s;

}

.song-img:hover .play-btn{
  opacity: 1;
}

.music-player{
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;

  background: #0f172a;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 30px;

  border-top: 1px solid rgba(255,255,255,0.1);

  z-index: 1000;
}

.shuffle{
  color: #aaa;
}

.player-left{
  display: flex;

  align-items: center;

  gap: 15px;
}

.player-left img{

  width: 55px;

  height: 55px;

  border-radius: 10px;

  object-fit: cover;
}

.player-left h4{
  font-size: 15px;
  margin: 0;
  color: white;
}

.player-left p{
  font-size: 12px;
  color: #9ca3af;

  margin: 0;
}

.player-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-controls{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 6px;
}

.player-controls button{
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
}

.player-controls button:hover{
  transform: scale(1.2);
}

.progress-container{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  
}

#current-time,
#duration{
  font-size: 12px;
  color: #9ca3af;
  min-width: 35px;
  text-align: center;
}

#progress{
  width: 900px;;
  
  height: 10px;

  appearance: none;

  background: #374151;

  border-radius: 5px;

  outline: none;
}

#progress::-webkit-slider-thumb{
  appearance: none;

  width: 13px;
  height: 13px;

  background: #3b82f6;

  border-radius: 50%;

  cursor: pointer;
}

.time{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #aaa;
}

.equalizer{
  display: none;
  gap: 3px;
  height: 10px;
  margin-top: 6px;
 
}

.song-card.playing .equalizer{
  display: flex;
}

.equalizer span{
  width: 3px;
  height: 100%;
  background: #7c5cff;
  animation: bounce 1s infinite ease-in-out;
}

.equalizer span:nth-child(2){
  animation-delay: 0.2s;
}

.equalizer span:nth-child(3){
  animation-delay: 0.4s;
}

@keyframes bounce{
  0%, 100% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1);
  }
}




/* RESPONSIVE DESIGN */
/* For Tablet */
@media (max-width: 992px){
  nav ul{
    gap: 15px;
  }

  .search{
    margin-top: 10px;
  }
}

/* For Mobile Phones */
@media (max-width: 768px){
  .navbar{
    padding: 13px;
    position: sticky;
  }

  .logo{
    font-size: 31px;
  }

  .desktop-nav{
    display: none;
  }

  .desktop-search{
    display: none;
  }

  /* show mobile icons */
  .mobile-icons{
    display: flex;
    
    gap: 20px;

    font-size: 24px;
    cursor: pointer;
  }

  .search-icon:hover{
    color: #8b5cf6;
  }

  .menu-toggle:hover{
    color: #8b5cf6;
  }

  /* hide navigation */
  nav{
    max-height: 0;
    overflow: hidden;

    width: 100%;

    border-radius: 12px;

    margin-bottom: 15px;

    transition: 0.4s ease;

    opacity: 0;
  }

  /* show nav when active */
  nav.active{
    max-height: 300px;
    padding: 20px;
    opacity: 1;
  }

  nav ul{
    flex-direction: column;
    gap: 15px;
  }

  nav ul li{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 10px;
  }

  nav ul li a{
    font-size: 15px;
  }

  /* hide search bar */
  .search{
    display: none;
    width: 100%;
    margin-top: 10px;
  }

  /* show when active */
  .search.active{
    display: block;
  }

  .search input{
    width: 100%;
  }

  .container{
    padding: 40px 20px;
  }

  .hero{
    height: 60vh;
  }

  .hero h1{
    font-size: 32px;
  }

  .hero p{
    font-size: 16px;
  }

  .play-btn{
    opacity: 1;
  }

  .music-player{
    flex-direction: row;
    height: 60px;
    padding: 10px 20px;
    gap: 8px;
  }

  .player-left img{
    width: 40px;
    height: 40px;
  }

  .player-center{
    flex-direction: column;
    gap: 5px;
  }

  #progress{
    height: 5px;
    width: 100%;
    
  }

  .player-controls button{
    font-size: 15px;
  }
}

